<label class="for-input">
    <span class="input-descr">Введите название страны:</span>
    <input type="text" name="query-country-name" class="input">
</label>

<!--

дорисовать hbs если ошибка, если до 10 результатов, и если один

-->